/* CSS declarations go here */
h5 {
    position: absolute;
    left: 700px;
    top: 350px;
}

h2 {
    position: absolute;
    left: 300px;
    top: 350px;
}

h4 {
    position: absolute;
    left: 300px;
    top: 700px;
}

h3 {
    position: absolute;
    left: 700px;
    top: 700px;
}
body{
	background: url(background.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
