/* CSS declarations go here */
h6 {
    position: absolute;
    left: 700px;
    top: 350px;
}

h2 {
    position: absolute;
    left: 300px;
    top: 350px;
}

h4 {
    position: absolute;
    left: 300px;
    top: 700px;
}

h3 {
    position: absolute;
    left: 700px;
    top: 700px;
}
body{
	background: url(pics/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

 h1.match{
	text-align:center;
	font-size:56px; 
	font-family:"Trebuchet MS", Helvetica,sans-serif;
	font-weight:bold;
}

.home{
	position:absolute;
	top: 20px;
	right: 20px;
}